
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Xway</title>
  <meta name="author" content="xway">

  
  <meta name="description" content="使用octopress已有半年了，到目前为止感觉不坏，相比国内的博客平台，最大的好处是不用担心若干莫名其妙的敏感词导致文章不能发布，而且它确实是个时尚玩具，和ruby，github，sass都扯上了关系，满足了我这个伪程序员一点虚荣心，不过这类玩意儿就像快刀，好用是好用，一不小心就划伤手指。 &hellip;">
  

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="canonical" href="http://kleistx.github.com/">
  <link href="/favicon.png" rel="icon">
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <script src="/javascripts/modernizr-2.0.js"></script>
  <script src="/javascripts/ender.js"></script>
  <script src="/javascripts/octopress.js" type="text/javascript"></script>
  <link href="/atom.xml" rel="alternate" title="Xway" type="application/atom+xml">
  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lovers+Quarrel|Marmelad|Niconne' rel='stylesheet' type='text/css'>

  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31893415-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>


</head>

<body   >
  <header role="banner"><hgroup>
  <h1><a href="/">Xway</a></h1>
  
    <h2>The world is full of fascinating problems waiting to be solved~.</h2>
  
</hgroup>

</header>
  <nav role="navigation"><ul class="subscription" data-subscription="rss">
  <li><a href="/atom.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  
</ul>
  
<form action="http://google.com/search" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:kleistx.github.com" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
  
<ul class="main-navigation">
  <li><a href="/">Blog</a></li>
  <li><a href="/blog/archives">Archives</a></li>
  <li><a href="/about">About</a></li>
</ul>

</nav>
  <div id="main">
    <div id="content">
      <div class="blog-index">
  
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/the-notes-of-octopress/">使用octopress中的故障记录</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2012-08-13T20:11:00+08:00" pubdate data-updated="true">Aug 13<span>th</span>, 2012</time>
        
         | <a href="/blog/the-notes-of-octopress/#disqus_thread">Comments</a>
        
      </p>
    
  </header>


  <div class="entry-content"><p>使用octopress已有半年了，到目前为止感觉不坏，相比国内的博客平台，最大的好处是不用担心若干莫名其妙的敏感词导致文章不能发布，而且它确实是个时尚玩具，和ruby，github，sass都扯上了关系，满足了我这个伪程序员一点虚荣心，不过这类玩意儿就像快刀，好用是好用，一不小心就划伤手指。</p>

<p>言归正传，记载几个我使用过程中遇到过的问题，大部分情况下，你在rake generate时看到的出错提示很相似，如下：</p>

<h3>最常见的故障显示</h3>

<pre><code>/Users/toutakashi/.rvm/rubies/ruby-1.9.3-p194/lib/ruby/1.9.1/psych.rb:203:in `parse': (/Users/toutakashi/xway/octopress/_config.yml): could not find expected ': while scanning a simple key at line 8 column 1 (Psych::SyntaxError)
from /Users/toutakashi/.rvm/rubies/ruby-1.9.3-p194/lib/ruby/1.9.1/psych.rb:203:in `parse_stream'
from /Users/toutakashi/.rvm/rubies/ruby-1.9.3-p194/lib/ruby/1.9.1/psych.rb:151:in `parse'
from /Users/toutakashi/.rvm/rubies/ruby-1.9.3-p194/lib/ruby/1.9.1/psych.rb:127:in `load'
from /Users/toutakashi/.rvm/rubies/ruby-1.9.3-p194/lib/ruby/1.9.1/psych.rb:297:in `block in load_file'
from /Users/toutakashi/.rvm/rubies/ruby-1.9.3-p194/lib/ruby/1.9.1/psych.rb:297:in `open'
from /Users/toutakashi/.rvm/rubies/ruby-1.9.3-p194/lib/ruby/1.9.1/psych.rb:297:in `load_file'
from /Users/toutakashi/.rvm/gems/ruby-1.9.3-p194/gems/jekyll-0.11.0/lib/jekyll.rb:119:in `configuration'
from /Users/toutakashi/.rvm/gems/ruby-1.9.3-p194/gems/jekyll-0.11.0/bin/jekyll:207:in `&lt;top (required)&gt;'
from /Users/toutakashi/.rvm/gems/ruby-1.9.3-p194/bin/jekyll:19:in `load'
from /Users/toutakashi/.rvm/gems/ruby-1.9.3-p194/bin/jekyll:19:in `&lt;main&gt;'
from /Users/toutakashi/.rvm/gems/ruby-1.9.3-p194/bin/ruby_noexec_wrapper:14:in `eval'
from /Users/toutakashi/.rvm/gems/ruby-1.9.3-p194/bin/ruby_noexec_wrapper:14:in `&lt;main&gt;'
</code></pre>

<p>别被浩浩荡荡的提示吓着了，怎么看呢，根据我的经验，以from开头的句子都可以忽略，看其他的吧。</p>

<h3>_config.yml中的空格</h3>

<p>上面这个例子中说在<em>config.yml中找不到某个 <code>“ ： ”</code>， 实际上是，</em>config.yml中各个项的写法是类似<code>simple_search: http://google.com/search</code>，注意冒号后面有个空格，忘掉打空格，就等着报上面的错。</p>

<h3>categories中的类别</h3>

<p>上面的错误至少还指示了出错的文件和行号，那下面这个完全就是看不明白了（已省略大把的from）：</p>

<pre><code>/Users/toutakashi/.rvm/rubies/ruby-1.9.3-p194/lib/ruby/1.9.1/psych.rb:203:in `parse': (&lt;unknown&gt;): did not find expected key while parsing a block mapping at line 2 column 1 (Psych::SyntaxError)
</code></pre>

<p>一个<code>&lt;unknown&gt;</code>让你欲哭无泪。我碰上这个错误时，恰好是在更新octopress之后，于是怀疑面很广，为此重装了octopress，重装了不同版本的ruby，其间发现由于我的新系统lion不带gcc，无法编译ruby，又折腾半天发现得给xcode安个command tools，但即使这样还是没有改善，最后偶然的发现原因是最近的一片文章中categories格式错了，本来应该是<code>categories: [python,notes]</code>，我不小心给写成了<code>categories: [python],[notes]</code>，于是悲剧了。</p>

<h3>sass更新的问题</h3>

<p>没事儿最好别急着更新，我在某次跟风更新octopress的源码之后，界面变得乱七八糟，最后发现是sass版本太新的原因，好在这种事情不是我一个人遇到，不久作者的github的页面上就给出了解决方案，但我也有半个月没写成博客。</p>

<h3>记载</h3>

<p>上述这些故障并不复杂，很多是由于失误造成，但由于错误呈现的方式不明，解决起来相当耗时，先记载这些，再遇上新问题会直接添加在此文末尾。</p>
</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/the-django-book-2-note-1/">The Django Book 2 ：Notes 1</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2012-08-13T11:11:00+08:00" pubdate data-updated="true">Aug 13<span>th</span>, 2012</time>
        
         | <a href="/blog/the-django-book-2-note-1/#disqus_thread">Comments</a>
        
      </p>
    
  </header>


  <div class="entry-content"><h2>入门</h2>

<ol>
<li>先安装好python和mysql等。</li>
<li>下载django，运行命令 <code>python setup.py install</code> 安装之。</li>
<li>选择好安装目录，进入，运行命令 <code>django-admin.py startproject mysite</code> 。</li>
<li>cd mysite，运行命令 <code>python manage.py runserver</code> ，也可以指定端口 <code>python manage.py runserver 0.0.0.0:8000</code> 。</li>
<li>访问 http://127.0.0.1:8000/，看Django是否启动。</li>
</ol>


<h2>视图和URL配置</h2>

<h3>静态页面请求处理过程</h3>

<ol>
<li>进来的请求转/hello/</li>
<li>Django通过在ROOT_URLCONF配置来决定根URLconf</li>
<li>Django在URLconf的所有URL模式中，查找第一个匹配/hello/的条目</li>
<li>如果找到匹配，将调用相应的视图函数</li>
<li>视图函数返回一个HttpResponse</li>
<li>Django转换HttpResponse为一个适合的HTTP response，以web page显示出来</li>
</ol>


<h2>模板系统</h2>

<h3>名词</h3>

<p><strong>变量</strong>：两个大括号包围，<code>{{person_name}}</code><br/>
<strong>标签</strong>：大括号和百分号包围，<code>{% if ordered_warranty %}</code> <br/>
<strong>过滤器</strong>：用（|）来调用，<code>{{ship_date|date:"Fj,Y"}}</code>  <br/>
标签和过滤器的列表，见附录F，可以用其创建自己的tag和filters。</p>

<h3>如何使用模板</h3>

<p>1.创建模板对象，就是将模板的代码或者html文件变成Template</p>

<pre><code>from django.template import Template
t = Template('Your name is {{ name }}.')
</code></pre>

<p>2.渲染模板，就是将模板中的变量用Context对象中的变量替换</p>

<pre><code>form diango.template import Context
t.render(Context({'name':'john'}))
</code></pre>

<h3>常用模板标签</h3>

<p>1.<code>{%if%}</code> ，标签需要成对出现，可以嵌套，<code>{%else%}</code>可选。</p>

<pre><code>{% if athlete_list %}
    ……
{% else %}
    …… 
{% endif %}
</code></pre>

<p><code>{%ifequal%} 和 {%ifnotequal%}</code>，用来比较变量</p>

<pre><code>{% ifequal section 'sitenews' %} 
    &lt;h1&gt;Site News&lt;/h1&gt;
{% else %}
    &lt;h1&gt;No News Here&lt;/h1&gt;
{% endifequal %}
</code></pre>

<p>2.<code>{%for%}</code>，标签需要成对出现，可以嵌套</p>

<pre><code>{% for athlete in athlete_list %}
    &lt;li&gt;{{ athlete.name }}&lt;/li&gt; 
{% endfor %}
</code></pre>

<p>a.增加reversed使列表反向迭代：</p>

<pre><code>{% for athlete in athlete_list reversed %} 
    ……
{% endfor %}
</code></pre>

<p>b.循环之前检测列表大小，列表为空时输出提示：</p>

<pre><code>{% if athlete_list %}
    {% for athlete in athlete_list %}
        &lt;p&gt;{{ athlete.name }}&lt;/p&gt; 
    {% endfor %}
{% else %}
    &lt;p&gt;There are no athletes. Only computer programmers.&lt;/p&gt;
{% endif %}
</code></pre>

<p>  以上语句等价于使用<code>{%empty%}</code>，如下：</p>

<pre><code>{% for athlete in athlete_list %} 
    &lt;p&gt;{{ athlete.name }}&lt;/p&gt;
{% empty %}
    &lt;p&gt;There are no athletes. Only computer programmers.&lt;/p&gt;
{% endfor %}
</code></pre>

<p>  方便的多，请使用<code>{%empty%}</code>。
c.forloop变量,详见文档。</p>

<p>3.注释</p>

<pre><code>{# This is a comment #}
</code></pre>

<p>  或者</p>

<pre><code>{% comment %}
    This is a multiline comment. 
{% endcomment %}
</code></pre>

<h3>过滤器</h3>

<p>过滤器使用管道字符，可以套接（一个管道输出作为下一个管道输入），例如查找列表第一个元素并转换为大写：</p>

<pre><code>{{my_list|first|upper}}
</code></pre>

<p>过滤器可带参数，以双引号包围，例如显示变量bio的前30个词：</p>

<pre><code>{{ bio|truncatewords:"30" }}
</code></pre>

<p>几个重要过滤器：<br/>
<code>addslashes</code>:添加反斜杠到任何反斜杠、单引号、双引号之前。这在JavaScript处理中十分有用。<br/>
<code>date</code>：按指定格式参数化date或datetime对象。<br/>
<code>length</code>返回变量的长度。</p>

<h3>在视图中使用模板</h3>

<p>1.定位至settings.py配置文件，找到TEMPLATE_DIR，设置模板目录，别忘了<em>逗号</em>。<br/>
2.使用<code>render_to_response（）</code></p>

<pre><code>from django.shortcuts import render_to_response 
import datetime

def current_datetime(request):
    now = datetime.datetime.now()
    return render_to_response('current_datetime.html', 
                                {'current_date': now})
</code></pre>

<p>如果不提供第二个参数，render_to_response()使用一个空字典。<br/>
3. 使用<code>locals()</code> ，上面的代码可修改为：</p>

<pre><code>def current_datetime(request):
    current_date = datetime.datetime.now()
    return render_to_response('current_datetime.html', locals())
</code></pre>

<p>locals()可以让模板中的变量和代码中的变量相通，locals()记住所有已定义的局部变量。</p>

<h3>模板继承</h3>

<p>{%include%}标签仅仅是引入部分内容</p>

<pre><code>{% include 'includes/nav.html' %}
</code></pre>

<p>对这部分内容无法修改，比如引入header，对于其中的title就无法修改，而模板继承就可以。要用到<code>{% extends %}</code>标签，基础模板范例（base.html）：</p>

<pre><code>&lt;!DOCTYPE HTML PUBLIC "//W3C//DTD HTML 4.01//EN"&gt; &lt;html lang="en"&gt;
&lt;head&gt;
    &lt;title&gt;{% block title %}{% endblock %}&lt;/title&gt; &lt;/head&gt;
&lt;body&gt;
    &lt;h1&gt;My helpful timestamp site&lt;/h1&gt; 
    {% block content %}{% endblock %} 
    {% block footer %}
    &lt;hr&gt;
    &lt;p&gt;Thanks for visiting my site.&lt;/p&gt; {% endblock %}
&lt;/body&gt; 
&lt;/html&gt;
</code></pre>

<p>其中<code>{%block%}</code>标签告诉模板引擎可以重载这些部分。<br/>
使用基础模板（current_datetime.html）：</p>

<pre><code>{% extends "base.html" %}
{% block title %}The current time{% endblock %}
{% block content %}
    &lt;p&gt;It is now {{ current_date }}.&lt;/p&gt; 
{% endblock %}
</code></pre>

<p>注意：<br/>
1.<code>{% extends %}</code>必须为第一个标签。<br/>
2.基础模板中<code>{% block %}</code>标签越多越好。</p>

<h2>数据模型</h2>

<h3>数据库查询简单方法</h3>

<p>使用MySQLdb类库执行SQL语句查询并处理：</p>

<pre><code>db = MySQLdb.connect(user='me',db='mydb',passwd='secret',host='localhost')
cursor = db.cursor()
cursor.execute('SELECT name FROM books ORDER BY name')
db.close()
</code></pre>

<h3>数据库配置</h3>

<p>在&#8217;setting.py&#8217;中找到DATABASES设置数据库，注意sqlite和其他数据库的用法不同。</p>

<h3>第一个app</h3>

<p>一个project可以包含很多app，如果使用了Django的数据库层（模型），必须建一个app，模型放在apps中。</p>

<p>假设要建立一个books的app，步骤如下：</p>

<p>1.在<code>manage.py</code>目录下，建app目录：</p>

<pre><code>python manage.py startapp books
</code></pre>

<p>2.修改<code>models.py</code>，设计数据库表结构,注意添加<code>__unicode__</code>函数：</p>

<pre><code>from django.db import models

class Publisher(models.Model):
    name = models.CharField(max_length=30)
    address = models.CharField(max_length=50)
    city = models.CharField(max_length=60)
    state_province = models.CharField(max_length=30)
    country = models.CharField(max_length=50)
    website = models.URLField()        
    def __unicode__(self):
        return self.name

class Author(models.Model):
    first_name = models.CharField(max_length=30) 
    last_name = models.CharField(max_length=40)
    email = models.EmailField()
    def __unicode__(self):
        return self.first_name

class Book(models.Model):
    title = models.CharField(max_length=100)
    authors = models.ManyToManyField(Author)
    publisher = models.ForeignKey(Publisher)
    publication_date = models.DateField()
    def __unicode__(self):
        return self.first_name
</code></pre>

<p>3.安装数据模型，在<code>setting.py</code>的<code>INSTALLED_APPS</code>最后添加books：</p>

<pre><code>INSTALLED_APPS = (
 'books',
)
</code></pre>

<p>4.验证数据模型的有效性：</p>

<pre><code>python manage.py validate
</code></pre>

<p>5.根据<code>models.py</code>中的描述生成创建表的sql语句：</p>

<pre><code>python manage.py sqlall books
</code></pre>

<p>6.使用5中生成的语句创建表：</p>

<pre><code>python manage.py syncdb
</code></pre>
</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/lychrelnumber/">回文数和利克瑞尔数</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2012-08-09T00:21:00+08:00" pubdate data-updated="true">Aug 9<span>th</span>, 2012</time>
        
         | <a href="/blog/lychrelnumber/#disqus_thread">Comments</a>
        
      </p>
    
  </header>


  <div class="entry-content"><p>回文数就是看起来左右对称的自然数，比如121、876678，如果将一个自然数与将该数按位翻转后形成的新数相加，并将此过程反复迭代后，往往都会得出一个回文数。例如：</p>

<pre><code>56在一次迭代后形成回文数：56+65 = 121.  
57在两次迭代后形成回文数：57+75 = 132, 132+231 = 363.  
89经过少有的24次迭代（它是10,000以下的数中迭代次数最多的）而得到回文数8813200023188.    
</code></pre>

<p>假如某数翻转又不停迭代相加后得不出回文数呢？那么它就被称为利克瑞尔数（Lychrel Number）。 <br/>
利克瑞尔数实际上很罕见，而且难以证明，90%的10000以内的数经过不多于7次迭代后会变成回文数，
唯一例外的是196，至今还未被迭代成回文数，也许它就是最小的利克瑞尔数。<br/>
科普完毕，下面写个小程序来验证利克瑞尔数：</p>

<figure class='code'> <div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
<span class='line-number'>10</span>
<span class='line-number'>11</span>
<span class='line-number'>12</span>
<span class='line-number'>13</span>
<span class='line-number'>14</span>
<span class='line-number'>15</span>
<span class='line-number'>16</span>
<span class='line-number'>17</span>
<span class='line-number'>18</span>
<span class='line-number'>19</span>
<span class='line-number'>20</span>
<span class='line-number'>21</span>
<span class='line-number'>22</span>
<span class='line-number'>23</span>
<span class='line-number'>24</span>
<span class='line-number'>25</span>
<span class='line-number'>26</span>
<span class='line-number'>27</span>
<span class='line-number'>28</span>
<span class='line-number'>29</span>
<span class='line-number'>30</span>
<span class='line-number'>31</span>
<span class='line-number'>32</span>
<span class='line-number'>33</span>
<span class='line-number'>34</span>
<span class='line-number'>35</span>
</pre></td><td class='code'><pre><code class='python'><span class='line'><span class="k">def</span> <span class="nf">Lychrel_Number</span><span class="p">(</span><span class="n">num</span><span class="p">,</span><span class="n">counter</span><span class="p">):</span>
</span><span class='line'>  <span class="sd">&#39;&#39;&#39;验证一个数是否为利克瑞尔数&#39;&#39;&#39;</span>
</span><span class='line'>  <span class="nb">sum</span> <span class="o">=</span> <span class="n">num</span> <span class="o">+</span> <span class="n">reverse_num</span><span class="p">(</span><span class="n">num</span><span class="p">)</span>
</span><span class='line'>  <span class="k">print</span> <span class="s">&#39;</span><span class="si">%d</span><span class="s">+</span><span class="si">%d</span><span class="s">=</span><span class="si">%d</span><span class="s">&#39;</span><span class="o">%</span><span class="p">(</span><span class="n">num</span><span class="p">,</span><span class="n">reverse_num</span><span class="p">(</span><span class="n">num</span><span class="p">),</span><span class="nb">sum</span><span class="p">)</span>
</span><span class='line'>  <span class="n">counter</span> <span class="o">=</span> <span class="n">counter</span> <span class="o">+</span> <span class="mi">1</span>    <span class="c">#迭代计数</span>
</span><span class='line'>  <span class="k">if</span> <span class="n">is_palindrome</span><span class="p">(</span><span class="nb">sum</span><span class="p">):</span>
</span><span class='line'>      <span class="k">print</span><span class="p">(</span><span class="s">&#39;</span><span class="si">%d</span><span class="s"> times!&#39;</span><span class="o">%</span><span class="n">counter</span><span class="p">)</span>
</span><span class='line'>      <span class="k">return</span>
</span><span class='line'>  <span class="k">else</span><span class="p">:</span>
</span><span class='line'>      <span class="n">Lychrel_Number</span><span class="p">(</span><span class="nb">sum</span><span class="p">,</span><span class="n">counter</span><span class="p">)</span>
</span><span class='line'>      
</span><span class='line'><span class="k">def</span> <span class="nf">reverse_num</span><span class="p">(</span><span class="n">n</span><span class="p">):</span>
</span><span class='line'>  <span class="sd">&#39;&#39;&#39;将一个数翻转&#39;&#39;&#39;</span>
</span><span class='line'>  <span class="n">l</span> <span class="o">=</span> <span class="n">num_to_list</span><span class="p">(</span><span class="n">n</span><span class="p">)</span>            
</span><span class='line'>  <span class="n">r</span> <span class="o">=</span> <span class="mi">0</span>
</span><span class='line'>  <span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="nb">len</span><span class="p">(</span><span class="n">l</span><span class="p">)):</span>
</span><span class='line'>      <span class="n">r</span> <span class="o">=</span> <span class="n">r</span> <span class="o">+</span> <span class="n">l</span><span class="o">.</span><span class="n">pop</span><span class="p">()</span><span class="o">*</span><span class="nb">pow</span><span class="p">(</span><span class="mi">10</span><span class="p">,</span><span class="n">i</span><span class="p">)</span>        
</span><span class='line'>  <span class="k">return</span> <span class="n">r</span>
</span><span class='line'>
</span><span class='line'><span class="k">def</span> <span class="nf">num_to_list</span><span class="p">(</span><span class="n">n</span><span class="p">):</span>
</span><span class='line'>  <span class="sd">&#39;&#39;&#39;将一个数从个位开始放入一个列表&#39;&#39;&#39;</span>
</span><span class='line'>  <span class="n">l</span><span class="o">=</span><span class="p">[]</span>
</span><span class='line'>  <span class="k">while</span> <span class="n">n</span><span class="p">:</span>
</span><span class='line'>      <span class="n">l</span><span class="o">.</span><span class="n">append</span><span class="p">(</span><span class="n">n</span><span class="o">%</span><span class="mi">10</span><span class="p">)</span>
</span><span class='line'>      <span class="n">n</span> <span class="o">=</span> <span class="n">n</span><span class="o">/</span><span class="mi">10</span>
</span><span class='line'>  <span class="k">return</span> <span class="n">l</span>
</span><span class='line'>
</span><span class='line'><span class="k">def</span> <span class="nf">is_palindrome</span><span class="p">(</span><span class="n">n</span><span class="p">):</span>
</span><span class='line'>  <span class="sd">&#39;&#39;&#39;判断回文数&#39;&#39;&#39;</span>
</span><span class='line'>  <span class="n">original</span> <span class="o">=</span> <span class="n">num_to_list</span><span class="p">(</span><span class="n">n</span><span class="p">)</span>
</span><span class='line'>  <span class="n">result</span> <span class="o">=</span> <span class="n">original</span><span class="p">[::</span><span class="o">-</span><span class="mi">1</span><span class="p">]</span>       <span class="c">#翻转序列</span>
</span><span class='line'>  <span class="k">return</span> <span class="n">original</span> <span class="o">==</span> <span class="n">result</span>
</span><span class='line'>
</span><span class='line'><span class="n">num</span> <span class="o">=</span> <span class="nb">input</span><span class="p">(</span><span class="s">&quot;please enter a number:&quot;</span><span class="p">)</span>
</span><span class='line'><span class="n">Lychrel_Number</span><span class="p">(</span><span class="n">num</span><span class="p">,</span><span class="mi">0</span><span class="p">)</span>
</span></code></pre></td></tr></table></div></figure>


<p>运行示例如下：</p>

<pre><code>please enter a number:99
99+99=198
198+891=1089
1089+9801=10890
10890+9801=20691
20691+19602=40293
40293+39204=79497
6 times!
</code></pre>

<p>别验证196哦，会溢出的哦！</p>
</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/zai-macshang-shi-yong-mysqldb/">在mac上使用MySQLdb</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2012-07-01T17:48:00+08:00" pubdate data-updated="true">Jul 1<span>st</span>, 2012</time>
        
         | <a href="/blog/zai-macshang-shi-yong-mysqldb/#disqus_thread">Comments</a>
        
      </p>
    
  </header>


  <div class="entry-content"><p>Django的缘故，需要用到python下的mysql接口，但mac上安装MySQLdb比我想象的要麻烦的多，看起来一切顺利，就是用不成，折腾了半天才发现一些注意事项，现将其写在这里：</p>

<h2>安装步骤</h2>

<h3>1.安装正确的python和mysql版本</h3>

<p>若未安装python和mysql，可以使用二者官方网站上的img镜像安装，但记住若你的mac os是64位的，一定安装<strong>64位</strong>的版本。<br/>
若已安装python和mysql，用file命令搞清楚mac上的python和mysql是什么版本（32位还是64位）：</p>

<pre><code>file $(which python)
file $(which mysql)
</code></pre>

<p>现在的mac基本都是64位，看看是不是，千万别搞错，否则安装肯定出错。</p>

<h3>2.增加路径</h3>

<p>安装上述软件之后，须将其加入环境变量path，一般来说，python的路径在<code>/Library/Frameworks/Python.framework/Versions/2.7/bin</code>，mysql的路径在<code>/usr/local/mysql/bin</code>，增加方法：</p>

<pre><code>sudo vim /etc/paths
</code></pre>

<p>将路径添加在里面即可。</p>

<h3>3.安装MySQL-python</h3>

<p>使用pip或者easy_install来安装MySQL-python，建议用pip安装：</p>

<pre><code>pip install  MySQL-python
</code></pre>

<p>完成之后进入python，import一下：</p>

<pre><code>import MySQLdb
</code></pre>

<p>若无问题，则安装成功。</p>

<h3>4.卸载mysql的问题</h3>

<p>mac下用DMG格式的mysql安装的话，出错后卸载很麻烦，卸载方法如下：</p>

<pre><code>sudo rm /usr/local/mysql
sudo rm -rf /usr/local/mysql*
sudo rm -rf /Library/StartupItems/MySQLCOM
sudo rm -rf /Library/PreferencePanes/My*
vim /etc/hostconfig and removed the line MYSQLCOM=-YES-
rm -rf ~/Library/PreferencePanes/My*
sudo rm -rf /Library/Receipts/mysql*
sudo rm -rf /Library/Receipts/MySQL*
sudo rm -rf /var/db/receipts/com.mysql.*
</code></pre>

<p>看起来很简单，可是浪费了我整个下午。</p>
</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/dive-into-python-notes-1/">Dive Into Python 3 ：Notes 1</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2012-05-29T22:25:00+08:00" pubdate data-updated="true">May 29<span>th</span>, 2012</time>
        
         | <a href="/blog/dive-into-python-notes-1/#disqus_thread">Comments</a>
        
      </p>
    
  </header>


  <div class="entry-content"><p>以下是我最近阅读<a href="http://woodpecker.org.cn/diveintopython3/table-of-contents.html#your-first-python-program">《深入python3》</a>后记的笔记。</p>

<h2>第一份Python程序</h2>

<h3>条件表达式</h3>

<p>C语言中的条件表达式是这样 <code>x = condition ? true_value : false_value</code><br/>
python中是这样 <code>x = true_value if condition else false_value</code>，例如：</p>

<pre><code>X = true if logging else flase
</code></pre>

<h3>文档字符串docstring</h3>

<p>紧跟在函数声明的下一行，用引号或三重引号包围，描述函数必备，在有些ide，当用鼠标指向函数名时，其docstring以tooltip的方式显示出来，很便利。<br/>
<a href="http://www.python.org/dev/peps/pep-0257/">PEP 257: Docstring</a> 约定解释了用什么来从大量的 docstring 中分辨出一个好的 docstring。</p>

<h3>异常</h3>

<p>在被调用程序中使用 raise 语句来抛出异常，在调用程序中使用 try&#8230;except 块来处理异常。</p>

<h3><code>__name__</code> 和 <code>__main__</code></h3>

<pre><code>if __name__ == '__main__'
</code></pre>

<p>这种写法的原理：模块是对象，所有的模块对象都有一个内置的属性 <code>__name__</code> ,如果import这个模块，那么<code>__name__</code>就等于这个模块的文件名（不包含路径和扩展名），但如果将此模块当做一个独立的程序来运行的话，<code>__name__</code> 将是一个特殊的默认值<code>__main__</code>，所以才用此if语句来判断。</p>

<h2>内置数据类型</h2>

<p>八大内置数据类型，booleans，numbers，strings，bytes，lists，tuples，sets，dictionaries。</p>

<p>用 type() 函数来检测任何值或变量的类型。<br/>
用 isinstance() 函数判断某个值或变量是否为给定某个类型。如：</p>

<pre><code>isinstance(1, int)
</code></pre>

<h3>常见数值运算</h3>

<p>其他的都和c语言差不多，除了这两个： <code>//</code>除后取整 ； <code>**</code>求幂运算 ；</p>

<h3>列表<code>[ ]</code></h3>

<ul>
<li>列表用 <code>[ ]</code> 来定义。</li>
<li>可用<code>list[-1]</code>来从反方向索引。</li>
<li>布尔上下文，空列表为false，有元素的列表为true。</li>
</ul>


<p>切片几种用法</p>

<pre><code>list[1:3] ; list[1:-1]; list[0:3]; list[:3]; list[3:]; list[:]      
</code></pre>

<p> list[:]是一个新列表，与list并不一样，只是拥有完全相同的元素，是对列表进行复制的一条捷径。</p>

<ul>
<li>增加元素

<ul>
<li>+号，<code>list+[2.0,3]</code>，此方法效率较低。</li>
<li>append()，<code>list.append(5)</code>，append只能添加一个元素。</li>
<li>insert()，<code>list.insert(2,'j')</code>，insert需要一个索引位置。</li>
<li>expend()，<code>list.extend(['four', 'Ω'])</code>，参数是列表，主要用于合并列表。</li>
</ul>
</li>
<li>删除元素

<ul>
<li>del，直接 <code>del list[1]</code> ，命令行用法。</li>
<li>remove()，<code>list.remove(item)</code> ，删除item的第一次出现。</li>
<li>pop(), <code>list.pop()</code> 删除最后的元素，<code>list.pop(2)</code>删除该索引位置的元素，此方法返回被pop的值。</li>
</ul>
</li>
<li>检索

<ul>
<li>count()，<code>list.count(item)</code> 返回item出现的次数。</li>
<li>in，<code>if x in list</code> 返回布尔值。</li>
<li>index()，<code>list.index(item)</code> 返回item的索引值。</li>
</ul>
</li>
</ul>


<h3>元组<code>( )</code></h3>

<p>以下是与list的相同点：</p>

<ul>
<li>元组用<code>（ ）</code>来定义，可以用<code>[ ]</code>来索引。</li>
<li>负索引同于列表。</li>
<li>布尔上下文同于列表。</li>
<li>切片同于列表。</li>
<li>索引，也可用count(),in,index()。</li>
</ul>


<p>以下是与list的不同点：</p>

<ul>
<li>创建单元素元组，须如此<code>（“a”，）</code>，加上逗号，python才认元组，否则认为括号多余。</li>
<li>元组不可修改，故无增加删除之方法。</li>
</ul>


<p><strong>元组的优点：</strong></p>

<p>可同时赋多个值</p>

<pre><code>v=('a',2,true)
(x,y,z) = v
</code></pre>

<p> 有多种用途，例如：</p>

<pre><code>(MONDAY,TUESDAY,WEDNESDAY,THURSDAY,FRIDAY,SATURDAY,SUNDAY)=range(7)
</code></pre>

<p>或者让函数返回元组，赋值给不同的变量。
* 进行遍历操作比列表快。
* “写保护”，让代码更安全。
*  可用作字典键，列表不行。
*  与列表可以相互转换，<code>tuple()</code>冻结列表，<code>list()</code>融合元组。</p>

<h3>集合<code>{ }</code></h3>

<ul>
<li>集合用 <code>{ }</code> 来定义，用此方法定义时，至少含一个元素，纯<code>{ }</code>是表示空字典。</li>
<li>创建空集合，用不带参数的<code>set()</code>，如 <code>a_set = set()</code> 不能用 <code>a_set = { }</code> 。</li>
<li>可用列表创建集合，如 <code>a_set = set(list)</code> 初始化。</li>
<li>集合装载唯一值，所以会自动消除重复元素。</li>
<li>增加元素

<ul>
<li>add()，增加单值，<code>a_set.add(11)</code>。</li>
<li>udate()，增加一个序列，list或者tuple，<code>a_set.update([10,30,59])</code>。</li>
</ul>
</li>
<li>删除元素

<ul>
<li>discard() ，删除单值，<code>a_set.discard(10)</code> ，若值不存在，无反应。</li>
<li>remove()，删除单值， <code>a_set.remove(21)</code>，若值不存在，抛出错误。</li>
<li>pop()，弹出单值并返回该值，是随机弹出。</li>
<li>clear()，清空集合。</li>
</ul>
</li>
</ul>


<h3>字典<code>{ }</code></h3>

<ul>
<li>集合装载唯一值，所以会自动消除重复元素。</li>
</ul>


<p>同一字典的值可以装入不同数据类型和任何对象，但是键只能是数据类型，如：</p>

<pre><code>{1000: ['KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
 1024: ['KiB', 'MiB', 'GiB', 'TiB', 'PiB', 'EiB', 'ZiB', 'YiB']}
</code></pre>

<ul>
<li>可以使用<code>len()</code>和<code>in</code>。</li>
<li>可以使用类似集合的增加和减少元素的方法。</li>
</ul>


<h2>推导式</h2>

<p>紧凑，直观，有点像sql语句。</p>

<h3>列表推导式</h3>

<p>对某列表中每个元素应用一个函数，将其映射到另一个列表。<br/>
将a_list中的元素乘以3</p>

<pre><code>[elem * 3 for elem in a_list]
</code></pre>

<p>将当前目录下所有xml文件加上全路径</p>

<pre><code>[os.path.realpath(f) for f in glob.glob('*.xml')]  
</code></pre>

<p>过滤列表，返回当前目录下所有大小大于6000字节的py文件</p>

<pre><code>[f for f in glob.glob('*.py') if os.stat(f).st_size &gt; 6000]
</code></pre>

<p>返回元组列表，每个元组包含文件字节数和绝对路径</p>

<pre><code>[(os.stat(f).st_size, os.path.realpath(f)) for f in glob.glob('*.xml')] 
</code></pre>

<h3>字典推导式</h3>

<p>与列表推导式不同之处有两点：<br/>
1.被花括号包围而非方括号。 <br/>
2.对于每个元素它包含由冒号分隔的两个表达式。冒号前为键，其后为值。</p>

<pre><code>{f:os.stat(f) for f in glob.glob('*.py')}
</code></pre>

<p>也可以加上if形成过滤字典</p>

<pre><code>{os.path.splitext(f)[0]:humansize.approximate_size(meta.st_size) \ 
     for f, meta in metadata_dict.items() if meta.st_size &gt; 6000} 
</code></pre>

<p>小技巧，交换字典的键和值</p>

<pre><code>{value:key for key, value in a_dict.items()}
</code></pre>

<h3>集合推导式</h3>

<p>与列表推导式和字典推导式类似，其输入不一定是集合，可以是任何序列：</p>

<pre><code> {2**x for x in range(10)} 
</code></pre>
</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/octopresszhe-teng-ji/">Octopress折腾记</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2012-05-13T17:36:00+08:00" pubdate data-updated="true">May 13<span>th</span>, 2012</time>
        
         | <a href="/blog/octopresszhe-teng-ji/#disqus_thread">Comments</a>
        
      </p>
    
  </header>


  <div class="entry-content"><p>年初，发现很多技术博客（特别是喜好ruby的）都换了新面孔，简洁大气，开始还以为是wordpress的new theme，后来发现不是，他们用了Ocotopress，其中贴代码的部分十分漂亮，让我心动不已，自己本来有个wordpress的博客在SAE上，但老要买云豆很不爽，于是也摆弄摆弄Octopress，顺便把尘封已久的github账号拿出来抖抖灰，抽空折腾了两天，小记一下，我是将其部署至github，本地系统为mac，整个过程参考了<a href="http://octopress.org/docs/deploying/">此处</a>。</p>

<h3>了解</h3>

<ul>
<li><a href="http://blog.xdite.net/posts/2011/10/07/what-is-octopress/">Why Octopress?</a></li>
<li><a href="http://wowubuntu.com/markdown/#autoescape">Markdown语法</a></li>
</ul>


<h3>环境</h3>

<p>如果你已经安装了最新的git和ruby，请忽略。</p>

<ul>
<li><a href="http://ihower.tw/rails3/installation.html">安装最新的ruby</a></li>
<li><a href="http://book.51cto.com/art/201107/278761.htm">使用homebrew在mac下安装git </a></li>
</ul>


<h3>github</h3>

<ul>
<li>注册github账号，这个很简单，不多说。</li>
<li><a href="http://help.github.com/create-a-repo/">创建一个repository</a>，如果你的账号形如 username，你创建的这个repository名称应为username.github.com，切记。</li>
<li><a href="http://help.github.com/mac-set-up-git/">设置你在github上的ssh key</a></li>
</ul>


<h3>安装Octopress</h3>

<h4>下载Octopress</h4>

<pre><code>git clone git://github.com/imathis/octopress.git octopress
cd octopress # 如果使用 RVM, 这里将会询问是否信任该 .rvmrc (选yes).
ruby --version # 应该大于 Ruby 1.9.2
</code></pre>

<p> .rvmrc文件中默认的ruby版本是1.9.2，假如你的ruby版本高于1.9.2，修改它。</p>

<h4>安装相应的gem</h4>

<pre><code>bundle update
</code></pre>

<h4>生成模板文件</h4>

<pre><code>rake install
</code></pre>

<h3>部署至github</h3>

<h4>连接至github</h4>

<pre><code>rake setup_github_pages
</code></pre>

<p>  输入url地址，形如</p>

<pre><code>git@github.com:username/username.github.com.git
</code></pre>

<h4>生成静态页面</h4>

<pre><code>rake generate
</code></pre>

<h4>本地预览</h4>

<pre><code>rake preview 
</code></pre>

<p>访问http://localhost:4000 查看本地效果，用ctrl+c可结束  。</p>

<h4>部署</h4>

<pre><code>rake deploy
</code></pre>

<p>访问 http://username.github.com 查看博客服务器效果  。</p>

<h3>更新Octopress</h3>

<p>每过一段时间，可能需要<a href="http://octopress.org/docs/updating/">更新一下Octopress版本</a>，使之保持最新。</p>

<h3>配置博客信息</h3>

<p>修改Octopress/_config.yml，参考http://octopress.org/docs/configuring/ ，示例如下，若包含中文，请将文件格式保存成utf-8的格式。</p>

<pre><code>url: http://kleistx.github.com/
title: Xway
subtitle: 
author: xway
simple_search: http://google.com/search
description:
</code></pre>

<h3>创建新文章</h3>

<pre><code>rake new_post["article name"]
</code></pre>

<p>文章创建后，可在source/_post文件夹下找到，推荐使用<a href="http://mouapp.com/">Mou</a>编辑，更新之后需要重新生成静态页面，并重新部署。</p>

<pre><code>rake generate
rake deploy
</code></pre>

<h3>使用Disqus评论系统</h3>

<p>注册一个Disqus账号，记住shortname，然后打开”_config.yml”，找到disqus相关的配置项，修改即可：</p>

<pre><code>#Disqus Comments
disqus_short_name: xway
disqus_show_comment_count: true
</code></pre>

<p>记住冒号后面是有空格的。</p>

<h3>贴代码</h3>

<p>Octopress使用了pygments，所以支持多种编程语言的代码，具体方法见<a href="http://octopress.org/docs/plugins/codeblock/">此处</a>，我常用的方式是：</p>

<pre><code>｛% codeblock %｝
  Awesome code snippet
｛% endcodeblock  %｝
</code></pre>

<p>效果如下：</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>Awesome code snippet</span></code></pre></td></tr></table></div></figure>


<p>或者</p>

<pre><code>｛% codeblock Time to be Awesome - awesome.rb %｝
  puts "Awesome!" unless lame
｛% endcodeblock %｝
</code></pre>

<p>效果如下：</p>

<figure class='code'><figcaption><span>Time to be Awesome - awesome.rb </span></figcaption>
 <div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class='rb'><span class='line'><span class="nb">puts</span> <span class="s2">&quot;Awesome!&quot;</span> <span class="k">unless</span> <span class="n">lame</span>
</span></code></pre></td></tr></table></div></figure>


<h3>添加新页面</h3>

<p>例如在导航中增加<code>'About'</code>  ,首先：</p>

<pre><code>rake new_page["page name"]
</code></pre>

<p>会在在source下新建about目录，并在里面添加<code>index.markdown</code>文件。<br/>
然后，编辑导航条<code>source/_includes/custom/navigation.html</code>  ，添加上</p>

<pre><code>&lt;li&gt;&lt;a href="/about"&gt;About&lt;/a&gt;&lt;/li&gt;  
</code></pre>

<h3>首页只显示摘要</h3>

<p>在文中加入<code>&lt;!--more--&gt;</code>来控制摘要截取位置。<br/>
修改_config.yml里的excerpt_link。</p>

<h3>修改标题字体</h3>

<p>先去<a href="http://www.google.com/webfonts">google webfonts</a>挑两款字体，将生成的链接拷贝下来，加入 <code>/source/_includes/custom/head.html</code> 。<br/>
然后修改 <code>sass/custom/_font.scss</code>，分别将标题和副标题的字体设置为刚才挑选的两款。</p>

<h3>保存源代码</h3>

<p>在项目里建立source分支用于保存所有的代码（配置，sass，文章）。</p>

<pre><code>git add .
git commit -m 'blog'
git push origin source
</code></pre>
</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/macchang-yong-di-san-fang-ruan-jian-tui-jian/">Mac常用第三方软件推荐</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2012-05-12T23:45:00+08:00" pubdate data-updated="true">May 12<span>th</span>, 2012</time>
        
         | <a href="/blog/macchang-yong-di-san-fang-ruan-jian-tui-jian/#disqus_thread">Comments</a>
        
      </p>
    
  </header>


  <div class="entry-content"><h3>编程工具</h3>

<p>xcode：mac下编译软件必备。<br/>
python：我最喜欢的编程利器。<br/>
pip：方便安装第三方python包。  <br/>
ruby：和python一样是语言中的战斗机。  <br/>
homebrew：依赖ruby，方便安装卸载很多编程工具。  <br/>
iterm2：增强终端。<br/>
github for mac：github官方出品的git客户端。  <br/>
color Exploer：取色器。 <br/>
go2shell：在finder中打开终端并转入当前目录。  <br/>
snippets：代码片段收集工具。<br/>
navicat for mysql lite：老牌数据库管理工具。</p>

<h3>浏览器</h3>

<p>chrome：有诸多插件。</p>

<h3>中文输入法</h3>

<p>搜狗拼音：相比fit和QQ输入法，这个更适合我。</p>

<h3>编辑器和IDE</h3>

<p>textmate：神器一枚，由于dhh的推荐，路人皆知。 <br/>
sublime text 2:类textmate编辑器，跨平台，支持中文，有取代textmate之势。<br/>
chocolat：类textmate编辑器，不过现在还是测试版。<br/>
pycharm：python编程IDE，是目前使用最顺手的一个。   <br/>
coderunner：编程利器，功能比textmate稍逊，轻便且使用简单。<br/>
cssedit：编辑css专用。<br/>
coda 2：编辑html用。<br/>
mou：使用makedown语法，写文章专用。</p>

<h3>办公套件</h3>

<p>iwork09：包括keynote、pages、和numbers。    <br/>
office 2011：微软的办公套件。</p>

<h3>效率工具</h3>

<p>evernote：免费版已够用，记录笔记，支持云同步。<br/>
everbox：类似dropbox，盛大云存储客户端。 <br/>
google drive：google的云端硬盘。 <br/>
mind note：思维导图工具。<br/>
alfred：快速启动工具，类似windows下launchy。</p>

<h3>阅读器</h3>

<p>chmox：阅读chm格式文件。<br/>
reeder：google reader客户端。    <br/>
cappuccino：另一个reeder，目前测试中。<br/>
readlater：收集文章，待有空时慢慢看。 <br/>
ocrkit：转换扫描版pdf成文字版。</p>

<h3>多媒体</h3>

<p>mplayerx：开源媒体播放器，通杀所有格式。<br/>
pptv网络电视：在线看电影。<br/>
vox：音频播放器，短小精悍。<br/>
diumoo：豆瓣电台客户端。<br/>
guitar pro：吉他六线谱编辑和播放软件，学吉他必备。    <br/>
screenflow：录屏软件。</p>

<h3>图形图像</h3>

<p>skitch：简单图片处理，和evernote出自同一公司。<br/>
picasa：google出品的非常智能的图片库软件。  <br/>
xee：看图软件。</p>

<h3>虚拟机</h3>

<p>vmware fusion：和windows下的vmware一样出名。</p>

<h3>上传下载工具</h3>

<p>迅雷：比windows下的迅雷简洁的多，支持bt和电驴。  <br/>
sitesucker：下载整个网站。</p>

<h3>系统工具</h3>

<p>1password：密码管理必备。  <br/>
cleanmymac：系统清理软件。 <br/>
ccleaner：系统垃圾清理。<br/>
appfresh：系统软件更新。<br/>
day-o：替换系统时间工具。 <br/>
memoryfree 2 :内存释放工具。<br/>
simonfree：网络工具。</p>

<h3>即时通讯</h3>

<p>qq：无法逃避的腾讯客户端。<br/>
ipmessenger：mac下的飞鸽传书。<br/>
macbo：新浪微博客户端。</p>

<h3>其他</h3>

<p>google earth：研究世界。</p>
</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/jiu-ri-du-shu-shi-guang/">旧日读书时光</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2012-05-11T00:01:00+08:00" pubdate data-updated="true">May 11<span>th</span>, 2012</time>
        
         | <a href="/blog/jiu-ri-du-shu-shi-guang/#disqus_thread">Comments</a>
        
      </p>
    
  </header>


  <div class="entry-content"><p>最怀恋小时候的那些闲暇时光，世界充满了不可知，了解外界的窗口仅仅就是电视机，没有身处于时代洪流中的匆忙，得以慢慢的学习，那是何等的惬意啊，为了一点小知而洋洋得意，抓住什么书就了解什么，不管他是翻译晦涩的，还是文笔粗陋的，还是不明逻辑的，统统并收。那时看了很多其实很有意思，但今天决不会再花时间的书。<br/>
今天的时间总是不够用，似乎要把时间留给最重要的学问，最有用的技术，渐渐的反而看书的范围越来越窄，无法突破了。</p>
</div>
  
  


    </article>
  
  <div class="pagination">
    
    <a href="/blog/archives">Blog Archives</a>
    
  </div>
</div>
<aside class="sidebar">
  
    <section>
    <h1>About Me</h1>
    <p><img src="https://lh5.googleusercontent.com/-CS8dOOMNt9g/T_Aj3it2SaI/AAAAAAAAAIQ/MxvGj2Qp1mo/s180/qjsjhfl.png" alt="image" /></p>
    <p>业余开发者，偏爱python、ruby和c#。</p>
</section>
<section>
  <h1>Categories</h1>
    <ul id="category-list"><li><a href='/blog/categories/life'>life (1)</a></li><li><a href='/blog/categories/notes'>notes (2)</a></li><li><a href='/blog/categories/python'>python (4)</a></li><li><a href='/blog/categories/tools'>tools (3)</a></li></ul>
</section>
<section>
  <h1>Recent Posts</h1>
  <ul id="recent_posts">
    
      <li class="post">
        <a href="/blog/the-notes-of-octopress/">使用octopress中的故障记录</a>
      </li>
    
      <li class="post">
        <a href="/blog/the-django-book-2-note-1/">The Django Book 2 ：Notes 1</a>
      </li>
    
      <li class="post">
        <a href="/blog/lychrelnumber/">回文数和利克瑞尔数</a>
      </li>
    
      <li class="post">
        <a href="/blog/zai-macshang-shi-yong-mysqldb/">在mac上使用MySQLdb</a>
      </li>
    
      <li class="post">
        <a href="/blog/dive-into-python-notes-1/">Dive Into Python 3 ：Notes 1</a>
      </li>
    
  </ul>
</section>






  
</aside>

    </div>
  </div>
  <footer role="contentinfo"><p>
  Copyright &copy; 2012 - xway -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>

</footer>
  

<script type="text/javascript">
      var disqus_shortname = 'xway';
      
        
        var disqus_script = 'count.js';
      
    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>







  <script type="text/javascript">
    (function(){
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();
  </script>





</body>
</html>
