
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>The Django Book 2 ：Notes 1 - Xway</title>
  <meta name="author" content="xway">

  
  <meta name="description" content="入门 先安装好python和mysql等。
下载django，运行命令 python setup.py install 安装之。
选择好安装目录，进入，运行命令 django-admin.py startproject mysite 。
cd mysite，运行命令 python manage. &hellip;">
  

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="canonical" href="http://kleistx.github.com/blog/the-django-book-2-note-1/">
  <link href="/favicon.png" rel="icon">
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <script src="/javascripts/modernizr-2.0.js"></script>
  <script src="/javascripts/ender.js"></script>
  <script src="/javascripts/octopress.js" type="text/javascript"></script>
  <link href="/atom.xml" rel="alternate" title="Xway" type="application/atom+xml">
  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lovers+Quarrel|Marmelad|Niconne' rel='stylesheet' type='text/css'>

  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31893415-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>


</head>

<body   >
  <header role="banner"><hgroup>
  <h1><a href="/">Xway</a></h1>
  
    <h2>The world is full of fascinating problems waiting to be solved~.</h2>
  
</hgroup>

</header>
  <nav role="navigation"><ul class="subscription" data-subscription="rss">
  <li><a href="/atom.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  
</ul>
  
<form action="http://google.com/search" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:kleistx.github.com" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
  
<ul class="main-navigation">
  <li><a href="/">Blog</a></li>
  <li><a href="/blog/archives">Archives</a></li>
  <li><a href="/about">About</a></li>
</ul>

</nav>
  <div id="main">
    <div id="content">
      <div>
<article class="hentry" role="article">
  
  <header>
    
      <h1 class="entry-title">The Django Book 2 ：Notes 1</h1>
    
    
      <p class="meta">
        








  


<time datetime="2012-08-13T11:11:00+08:00" pubdate data-updated="true">Aug 13<span>th</span>, 2012</time>
        
         | <a href="#disqus_thread">Comments</a>
        
      </p>
    
  </header>


<div class="entry-content"><h2>入门</h2>

<ol>
<li>先安装好python和mysql等。</li>
<li>下载django，运行命令 <code>python setup.py install</code> 安装之。</li>
<li>选择好安装目录，进入，运行命令 <code>django-admin.py startproject mysite</code> 。</li>
<li>cd mysite，运行命令 <code>python manage.py runserver</code> ，也可以指定端口 <code>python manage.py runserver 0.0.0.0:8000</code> 。</li>
<li>访问 http://127.0.0.1:8000/，看Django是否启动。</li>
</ol>


<h2>视图和URL配置</h2>

<h3>静态页面请求处理过程</h3>

<ol>
<li>进来的请求转/hello/</li>
<li>Django通过在ROOT_URLCONF配置来决定根URLconf</li>
<li>Django在URLconf的所有URL模式中，查找第一个匹配/hello/的条目</li>
<li>如果找到匹配，将调用相应的视图函数</li>
<li>视图函数返回一个HttpResponse</li>
<li>Django转换HttpResponse为一个适合的HTTP response，以web page显示出来</li>
</ol>


<h2>模板系统</h2>

<h3>名词</h3>

<p><strong>变量</strong>：两个大括号包围，<code>{{person_name}}</code><br/>
<strong>标签</strong>：大括号和百分号包围，<code>{% if ordered_warranty %}</code> <br/>
<strong>过滤器</strong>：用（|）来调用，<code>{{ship_date|date:"Fj,Y"}}</code>  <br/>
标签和过滤器的列表，见附录F，可以用其创建自己的tag和filters。</p>

<h3>如何使用模板</h3>

<p>1.创建模板对象，就是将模板的代码或者html文件变成Template</p>

<pre><code>from django.template import Template
t = Template('Your name is {{ name }}.')
</code></pre>

<p>2.渲染模板，就是将模板中的变量用Context对象中的变量替换</p>

<pre><code>form diango.template import Context
t.render(Context({'name':'john'}))
</code></pre>

<h3>常用模板标签</h3>

<p>1.<code>{%if%}</code> ，标签需要成对出现，可以嵌套，<code>{%else%}</code>可选。</p>

<pre><code>{% if athlete_list %}
    ……
{% else %}
    …… 
{% endif %}
</code></pre>

<p><code>{%ifequal%} 和 {%ifnotequal%}</code>，用来比较变量</p>

<pre><code>{% ifequal section 'sitenews' %} 
    &lt;h1&gt;Site News&lt;/h1&gt;
{% else %}
    &lt;h1&gt;No News Here&lt;/h1&gt;
{% endifequal %}
</code></pre>

<p>2.<code>{%for%}</code>，标签需要成对出现，可以嵌套</p>

<pre><code>{% for athlete in athlete_list %}
    &lt;li&gt;{{ athlete.name }}&lt;/li&gt; 
{% endfor %}
</code></pre>

<p>a.增加reversed使列表反向迭代：</p>

<pre><code>{% for athlete in athlete_list reversed %} 
    ……
{% endfor %}
</code></pre>

<p>b.循环之前检测列表大小，列表为空时输出提示：</p>

<pre><code>{% if athlete_list %}
    {% for athlete in athlete_list %}
        &lt;p&gt;{{ athlete.name }}&lt;/p&gt; 
    {% endfor %}
{% else %}
    &lt;p&gt;There are no athletes. Only computer programmers.&lt;/p&gt;
{% endif %}
</code></pre>

<p>  以上语句等价于使用<code>{%empty%}</code>，如下：</p>

<pre><code>{% for athlete in athlete_list %} 
    &lt;p&gt;{{ athlete.name }}&lt;/p&gt;
{% empty %}
    &lt;p&gt;There are no athletes. Only computer programmers.&lt;/p&gt;
{% endfor %}
</code></pre>

<p>  方便的多，请使用<code>{%empty%}</code>。
c.forloop变量,详见文档。</p>

<p>3.注释</p>

<pre><code>{# This is a comment #}
</code></pre>

<p>  或者</p>

<pre><code>{% comment %}
    This is a multiline comment. 
{% endcomment %}
</code></pre>

<h3>过滤器</h3>

<p>过滤器使用管道字符，可以套接（一个管道输出作为下一个管道输入），例如查找列表第一个元素并转换为大写：</p>

<pre><code>{{my_list|first|upper}}
</code></pre>

<p>过滤器可带参数，以双引号包围，例如显示变量bio的前30个词：</p>

<pre><code>{{ bio|truncatewords:"30" }}
</code></pre>

<p>几个重要过滤器：<br/>
<code>addslashes</code>:添加反斜杠到任何反斜杠、单引号、双引号之前。这在JavaScript处理中十分有用。<br/>
<code>date</code>：按指定格式参数化date或datetime对象。<br/>
<code>length</code>返回变量的长度。</p>

<h3>在视图中使用模板</h3>

<p>1.定位至settings.py配置文件，找到TEMPLATE_DIR，设置模板目录，别忘了<em>逗号</em>。<br/>
2.使用<code>render_to_response（）</code></p>

<pre><code>from django.shortcuts import render_to_response 
import datetime

def current_datetime(request):
    now = datetime.datetime.now()
    return render_to_response('current_datetime.html', 
                                {'current_date': now})
</code></pre>

<p>如果不提供第二个参数，render_to_response()使用一个空字典。<br/>
3. 使用<code>locals()</code> ，上面的代码可修改为：</p>

<pre><code>def current_datetime(request):
    current_date = datetime.datetime.now()
    return render_to_response('current_datetime.html', locals())
</code></pre>

<p>locals()可以让模板中的变量和代码中的变量相通，locals()记住所有已定义的局部变量。</p>

<h3>模板继承</h3>

<p>{%include%}标签仅仅是引入部分内容</p>

<pre><code>{% include 'includes/nav.html' %}
</code></pre>

<p>对这部分内容无法修改，比如引入header，对于其中的title就无法修改，而模板继承就可以。要用到<code>{% extends %}</code>标签，基础模板范例（base.html）：</p>

<pre><code>&lt;!DOCTYPE HTML PUBLIC "//W3C//DTD HTML 4.01//EN"&gt; &lt;html lang="en"&gt;
&lt;head&gt;
    &lt;title&gt;{% block title %}{% endblock %}&lt;/title&gt; &lt;/head&gt;
&lt;body&gt;
    &lt;h1&gt;My helpful timestamp site&lt;/h1&gt; 
    {% block content %}{% endblock %} 
    {% block footer %}
    &lt;hr&gt;
    &lt;p&gt;Thanks for visiting my site.&lt;/p&gt; {% endblock %}
&lt;/body&gt; 
&lt;/html&gt;
</code></pre>

<p>其中<code>{%block%}</code>标签告诉模板引擎可以重载这些部分。<br/>
使用基础模板（current_datetime.html）：</p>

<pre><code>{% extends "base.html" %}
{% block title %}The current time{% endblock %}
{% block content %}
    &lt;p&gt;It is now {{ current_date }}.&lt;/p&gt; 
{% endblock %}
</code></pre>

<p>注意：<br/>
1.<code>{% extends %}</code>必须为第一个标签。<br/>
2.基础模板中<code>{% block %}</code>标签越多越好。</p>

<h2>数据模型</h2>

<h3>数据库查询简单方法</h3>

<p>使用MySQLdb类库执行SQL语句查询并处理：</p>

<pre><code>db = MySQLdb.connect(user='me',db='mydb',passwd='secret',host='localhost')
cursor = db.cursor()
cursor.execute('SELECT name FROM books ORDER BY name')
db.close()
</code></pre>

<h3>数据库配置</h3>

<p>在&#8217;setting.py&#8217;中找到DATABASES设置数据库，注意sqlite和其他数据库的用法不同。</p>

<h3>第一个app</h3>

<p>一个project可以包含很多app，如果使用了Django的数据库层（模型），必须建一个app，模型放在apps中。</p>

<p>假设要建立一个books的app，步骤如下：</p>

<p>1.在<code>manage.py</code>目录下，建app目录：</p>

<pre><code>python manage.py startapp books
</code></pre>

<p>2.修改<code>models.py</code>，设计数据库表结构,注意添加<code>__unicode__</code>函数：</p>

<pre><code>from django.db import models

class Publisher(models.Model):
    name = models.CharField(max_length=30)
    address = models.CharField(max_length=50)
    city = models.CharField(max_length=60)
    state_province = models.CharField(max_length=30)
    country = models.CharField(max_length=50)
    website = models.URLField()        
    def __unicode__(self):
        return self.name

class Author(models.Model):
    first_name = models.CharField(max_length=30) 
    last_name = models.CharField(max_length=40)
    email = models.EmailField()
    def __unicode__(self):
        return self.first_name

class Book(models.Model):
    title = models.CharField(max_length=100)
    authors = models.ManyToManyField(Author)
    publisher = models.ForeignKey(Publisher)
    publication_date = models.DateField()
    def __unicode__(self):
        return self.first_name
</code></pre>

<p>3.安装数据模型，在<code>setting.py</code>的<code>INSTALLED_APPS</code>最后添加books：</p>

<pre><code>INSTALLED_APPS = (
 'books',
)
</code></pre>

<p>4.验证数据模型的有效性：</p>

<pre><code>python manage.py validate
</code></pre>

<p>5.根据<code>models.py</code>中的描述生成创建表的sql语句：</p>

<pre><code>python manage.py sqlall books
</code></pre>

<p>6.使用5中生成的语句创建表：</p>

<pre><code>python manage.py syncdb
</code></pre>
</div>


  <footer>
    <p class="meta">
      
  

<span class="byline author vcard">Posted by <span class="fn">xway</span></span>

      








  


<time datetime="2012-08-13T11:11:00+08:00" pubdate data-updated="true">Aug 13<span>th</span>, 2012</time>
      

<span class="categories">
  
    <a class='category' href='/blog/categories/notes/'>notes</a>, <a class='category' href='/blog/categories/python/'>python</a>
  
</span>


    </p>
    
      <div class="sharing">
  
  <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://kleistx.github.com/blog/the-django-book-2-note-1/" data-via="" data-counturl="http://kleistx.github.com/blog/the-django-book-2-note-1/" >Tweet</a>
  
  
  
</div>

    
    <p class="meta">
      
        <a class="basic-alignment left" href="/blog/lychrelnumber/" title="Previous Post: 回文数和利克瑞尔数">&laquo; 回文数和利克瑞尔数</a>
      
      
        <a class="basic-alignment right" href="/blog/the-notes-of-octopress/" title="Next Post: 使用octopress中的故障记录">使用octopress中的故障记录 &raquo;</a>
      
    </p>
  </footer>
</article>

  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite"><noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
  </section>

</div>

<aside class="sidebar">
  
    <section>
    <h1>About Me</h1>
    <p><img src="https://lh5.googleusercontent.com/-CS8dOOMNt9g/T_Aj3it2SaI/AAAAAAAAAIQ/MxvGj2Qp1mo/s180/qjsjhfl.png" alt="image" /></p>
    <p>业余开发者，偏爱python、ruby和c#。</p>
</section>
<section>
  <h1>Categories</h1>
    <ul id="category-list"><li><a href='/blog/categories/life'>life (1)</a></li><li><a href='/blog/categories/notes'>notes (2)</a></li><li><a href='/blog/categories/python'>python (4)</a></li><li><a href='/blog/categories/tools'>tools (3)</a></li></ul>
</section>
<section>
  <h1>Recent Posts</h1>
  <ul id="recent_posts">
    
      <li class="post">
        <a href="/blog/the-notes-of-octopress/">使用octopress中的故障记录</a>
      </li>
    
      <li class="post">
        <a href="/blog/the-django-book-2-note-1/">The Django Book 2 ：Notes 1</a>
      </li>
    
      <li class="post">
        <a href="/blog/lychrelnumber/">回文数和利克瑞尔数</a>
      </li>
    
      <li class="post">
        <a href="/blog/zai-macshang-shi-yong-mysqldb/">在mac上使用MySQLdb</a>
      </li>
    
      <li class="post">
        <a href="/blog/dive-into-python-notes-1/">Dive Into Python 3 ：Notes 1</a>
      </li>
    
  </ul>
</section>






  
</aside>


    </div>
  </div>
  <footer role="contentinfo"><p>
  Copyright &copy; 2012 - xway -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>

</footer>
  

<script type="text/javascript">
      var disqus_shortname = 'xway';
      
        
        // var disqus_developer = 1;
        var disqus_identifier = 'http://kleistx.github.com/blog/the-django-book-2-note-1/';
        var disqus_url = 'http://kleistx.github.com/blog/the-django-book-2-note-1/';
        var disqus_script = 'embed.js';
      
    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>







  <script type="text/javascript">
    (function(){
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();
  </script>





</body>
</html>
